PORT=4000
MODE_ENV=development

# I use local database for development, PostgreSQL is installed on my machine, so I can use it for development.
DATABASE_URL="postgresql://<name:password>@localhost:5432/ai_workspace?schema=public"

CRYPT_SALT=10
JWT_SECRET="secret"